# すべてのファイルを無視
*

# 以下のファイルのみを追跡
!.gitignore
!settings.gradle
!readme.md
!HELP.md
!build.gradle
!src/
!img/
!ERD.png

# srcディレクトリの設定
!src/**
src/**/build/
src/**/.gradle/
src/**/out/
src/**/*.class

# imgディレクトリの設定
!img/**
img/**/*.psd
img/**/*.ai