# 保持したいファイル以外を全て除外
*
!.gitignore

# 保持したいファイルを明示的に含める
!settings.gradle
!readme.md
!HELP.md
!build.gradle
!src/**
!src/main/java/com/example/finconnect/**
!img/

# srcディレクトリ内の不要なファイルを除外
src/**/build/
src/**/.gradle/
src/**/out/
src/**/*.class

# imgディレクトリ内の不要なファイルを除外
img/**/*.psd
img/**/*.ai